body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

h1 {
    text-align: center;
    color: #008000;
    font-size: 2rem;
}

* {
    box-sizing: border-box;
}

.go {
    grid-column: 11;
    grid-row: 11 / 12;
    position: relative;
}

.space {
    background: #fafaf8;
    text-align: center;
}

.go .container {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.space .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center;
    height: 100px;
    width: 60px;
}

.bottom-row {
    grid-column: 2 / 11;
    grid-row: 11;
}

.jail {
    grid-column: 1;
    grid-row: 11 / 12;
    position: relative;
}

.left-row {
    grid-column: 1;
    grid-row: 2 / 11;
}

.vertical-row {
    grid-template-columns: 100px;
    grid-template-rows: repeat(9, 60px);
}

.free-parking {
    grid-column: 1;
    grid-row: 1 / 2;
}

.top-row {
    grid-column: 2 / 11;
    grid-row: 1;
}
.horizontal-row {
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: 100px;
}

.tribunal {
    grid-column: 11;
    grid-row: 1 / 1;
}

.right-row {
    grid-column: 11;
    grid-row: 2 / 11;
}

.board {
    display: grid;
    grid-template-columns: 100px repeat(9, 60px) 100px;
    grid-template-rows: 100px repeat(9, 60px) 100px;
    grid-gap: 2px;
    margin: 50px auto;
    width: 766px;
    height: 766px;
    background: #CFBDA1;
    border: 2px solid #080808;
}

.zone-center {
    grid-column: 2 / 11;
    grid-row: 2 / 11;
    background: #FFBB44;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}
