body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
}

h1 {
    text-align: center;
    color: #008000;
    font-size: 2.1rem;
}

* {
    box-sizing: border-box;
}
